# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Database (optional but recommended for GitHub)
db.sqlite3

# Django
*.log
local_settings.py

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/